body {
    background-color: #ffe4c4;/* 新年主题 */
}

.mdui-color-blue-grey-100 {
    background-color: #FFCCBC !important; /* 新年主题 */
}

.mdui-text-color-blue-700 {
    color: #FF3D00 !important; /* 新年主题 */
}

.mdui-btn.mdui-color-blue-600 {
    background-color: #FF5722 !important; /* 新年主题 */
}

.mdui-card {
    border-radius: 12px;
}

.mdui-dialog {
    border-radius: 12px;
}

.mdui-btn-block {
    border-radius: 6px;
}

.mdui-btn {
    border-radius: 6px;
}

.mdui-btn-icon {
    border-radius: 24px;
}

.mdui-toolbar>.mdui-btn-icon {
    background-color: #00000010;
    margin: 0 5px !important;
    width: 42px;
    min-width: 42px;
    height: 42px;
}

.mdui-toolbar>.mdui-btn-icon:first-of-type {
    margin-left: 15px !important;
}

.mdui-toolbar>.mdui-btn-icon:last-of-type {
    margin-right: 15px !important;
}

.mdui-list-item>.mdui-btn-icon {
    background-color: #00000010;
}

.mdui-chip {
    background-color: #00000010;
}

.mdui-menu {
    border-radius: 12px;
    width: 180px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .22);
}

.mdui-menu-closing {
    border-radius: 12px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .22);
}

.mdui-list-item {
    border-radius: 8px;
    margin: 0 8px;
    padding: 0 12px;
}

.mdui-menu-item>.mdui-menu>a>.mdui-list-item {
    border-radius: 8px;
    margin: 0 8px;
    padding: 0 13.5px;
}

.mdui-drawer>.mdui-list>a>.mdui-list-item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-left: 0px;
    margin-right: 6px;
}

.mdui-menu-item {
    border-radius: 8px;
    margin: 0 6px;
}

.mdui-menu-item>a {
    border-radius: 8px;
}

.mdui-menu-item-active>a {
    border-radius: 8px;
}

.mdui-subheader {
    padding: 0 12px;
}

.mdui-menu-item>.mdui-menu>.mdui-subheader {
    padding: 0 22px;
}

.badge {
    border-radius: 4px;
}

.mdui-table {
    border-radius: 8px;
}

.mdui-tooltip {
    border-radius: 6px;
}

.mdui-overlay {
    backdrop-filter: blur(4px);
}

.glur-toolbar {
    background: #ffe4c4a6 !important;
    backdrop-filter: blur(20px);
}

/* 系统偏好深色模式样式适配 */
@media (prefers-color-scheme: dark) {
    .mdui-theme-layout-auto .mdui-color-blue-grey-100 {
        background-color: #BF360C !important;
    }

    .mdui-theme-layout-auto .mdui-btn-icon svg use {
        fill: white !important;
    }

    .mdui-theme-layout-auto .mdui-btn-icon svg path {
        fill: white !important;
    }

    .mdui-theme-layout-auto .text-color-changing {
        color: #ffffff !important;
    }

    .mdui-theme-layout-auto .glur-toolbar {
        background: rgba(48, 48, 48, 0.65) !important;
    }

    .mdui-theme-layout-auto .mdui-toolbar>.mdui-btn-icon {
        background-color: #ffffff26 !important;
    }

    .mdui-theme-layout-auto .mdui-list-item>.mdui-btn-icon {
        background-color: #ffffff26 !important;
    }

    .mdui-theme-layout-auto .mdui-chip {
        background-color: #ffffff26 !important;
    }
}

/* 手动设置深色模式的样式适配 */
.mdui-theme-layout-dark .mdui-color-blue-grey-100 {
    background-color: #b95702 !important;
}

.mdui-theme-layout-dark .mdui-btn-icon svg use {
    fill: white !important;
}

.mdui-theme-layout-dark .mdui-btn-icon svg path {
    fill: white !important;
}

.mdui-theme-layout-dark .text-color-changing {
    color: #ffffff !important;
}

.mdui-theme-layout-dark .glur-toolbar {
    background: rgba(48, 48, 48, 0.65) !important;
}

.mdui-theme-layout-dark .mdui-toolbar>.mdui-btn-icon {
    background-color: #ffffff26 !important;
}

.mdui-theme-layout-dark .mdui-list-item>.mdui-btn-icon {
    background-color: #ffffff26 !important;
}

.mdui-theme-layout-dark .mdui-chip {
    background-color: #ffffff26 !important;
}

.mdui-menu-cascade {
    width: 180px;
    padding: 8px 0;
    overflow: visible;
    font-size: 16px;
}

@media (max-width: 390px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 170px !important;
    }

    .wz {
        display: none
    }
}

@media (max-width: 370px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 160px !important;
    }
}

@media (max-width: 350px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 150px !important;
    }

    .hs {
        display: none;
    }
}

@media (max-width: 330px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 140px !important;
    }

    .mdui-menu-item-icon {
        display: none;
    }

    .hs {
        display: inline;
    }
}

@media (max-width: 310px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 130px !important;
    }

}

@media (max-width: 290px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 120px !important;
    }
}

@media (max-width: 270px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 110px !important;
    }
}

.mdui-menu-cascade>.mdui-menu-item>a {
    height: 48px;
    padding: 0 12px;
    line-height: 48px;
}

.mdui-menu-item-more {
    float: right;
    width: 24px;
    height: 24px;
    margin: 12px 0;
}

.mdui-divider-inset,
.mdui-divider-inset-dark,
.mdui-divider-inset-light {
    margin-right: 8px;
}

/* 响应式显示主题切换按钮 */
@media (max-width: 1023px) {
    .theme-toggle-desktop {
    display: none !important;
    }
}

.mdui-theme-layout-dark .mdui-snackbar {
    background-color: rgba(120, 85, 53, 0.65) !important;
    backdrop-filter: blur(20px);
}

.mdui-snackbar {
    background-color: rgba(201, 98, 2, 0.65) !important;
    backdrop-filter: blur(20px);
}

.mdui-snackbar-left-top,
.mdui-snackbar-right-top,
.mdui-snackbar-top {
    top: 56px;
}

@media (min-width: 600px) {
    .mdui-snackbar-right-top {
        top: 72px;
        right: 24px;
    }
    .mdui-snackbar {
        border-radius: 12px;
    }
}

.mdui-tooltip {
    backdrop-filter: blur(20px);
}