body {
    background-color: #f1f3f5;
}

.mdui-card {
    border-radius: 12px;
}

.mdui-dialog {
    border-radius: 12px;
}

.mdui-btn-block {
    border-radius: 6px;
}

.mdui-btn {
    border-radius: 6px;
}

.mdui-btn-icon {
    border-radius: 24px;
}

.mdui-toolbar>.mdui-btn-icon {
    background-color: #00000010;
    margin: 0 15px !important;
    width: 42px;
    min-width: 42px;
    height: 42px;
}

.mdui-toolbar>.mdui-typo-headline {
    margin-left: 6px;
}

.mdui-menu {
    border-radius: 12px;
    width: 180px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .22);
}

.mdui-menu-closing {
    border-radius: 12px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .22);
}

.mdui-list-item {
    border-radius: 8px;
    margin: 0 8px;
    padding: 0 12px;
}

.mdui-menu-item>.mdui-menu>a>.mdui-list-item {
    border-radius: 8px;
    margin: 0 8px;
    padding: 0 13.5px;
}

.mdui-drawer>.mdui-list>a>.mdui-list-item {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    margin-left: 0px;
    margin-right: 6px;
}

.mdui-menu-item {
    border-radius: 8px;
    margin: 0 6px;
}

.mdui-menu-item-active {
    border-radius: 8px;
    margin: 0 6px;
}

.mdui-subheader {
    padding: 0 12px;
}

.mdui-menu-item>.mdui-menu>.mdui-subheader {
    padding: 0 22px;
}

.badge {
    border-radius: 4px;
}

.mdui-table {
    border-radius: 8px;
}

.mdui-tooltip {
    border-radius: 6px;
}

.mdui-overlay {
    backdrop-filter: blur(4px);
}

.glur-toolbar {
    background: linear-gradient(45deg, rgba(241, 243, 245, 0.8), rgba(241, 243, 245, 0.5));
    backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
    .mdui-color-blue-grey-100 {
        background-color: #37474F !important;
    }

    .mdui-btn-icon svg use {
        fill: white !important;
    }

    .text-color-changing {
        color: #ffffff !important;
    }

    .glur-toolbar {
        background: linear-gradient(45deg, rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.5)) !important;
    }

    .mdui-toolbar>.mdui-btn-icon {
        background-color: #ffffff26 !important;
    }
}

.mdui-menu-cascade {
    width: 180px;
    padding: 8px 0;
    overflow: visible;
    font-size: 16px;
}

@media (max-width: 390px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 170px !important;
    }

    .wz {
        display: none
    }
}

@media (max-width: 370px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 160px !important;
    }
}

@media (max-width: 350px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 150px !important;
    }

    .hs {
        display: none;
    }
}

@media (max-width: 330px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 140px !important;
    }

    .mdui-menu-item-icon {
        display: none;
    }

    .hs {
        display: inline;
    }
}

@media (max-width: 310px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 130px !important;
    }

}

@media (max-width: 290px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 120px !important;
    }
}

@media (max-width: 270px) {

    .mdui-menu-cascade,
    .mdui-menu {
        width: 110px !important;
    }
}

.mdui-menu-cascade>.mdui-menu-item>a {
    height: 48px;
    padding: 0 12px;
    line-height: 48px;
}

.mdui-menu-item-more {
    float: right;
    width: 24px;
    height: 24px;
    margin: 12px 0;
}

.mdui-divider-inset,
.mdui-divider-inset-dark,
.mdui-divider-inset-light {
    margin-right: 8px;
}